* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* App */
.app {
  min-height: 100vh;
  background-color: #272727;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  width: 300px;
  margin: 125px 0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
